
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 58px;
}

.food-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  padding-bottom: 5px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}


.food-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.food-img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


/* .card-body {
  padding: 5px;
  text-align: center;
} */
.price {
  color: #ff5722;
  font-size: 20px;
  margin-bottom: 15px;
}

.select-btn {
  background: #28a745;
  color: white;
  border: none;
  width: 250px;
  font-size: 25px;
  padding: 5px 5px;
  border-radius: 6px;
  cursor: pointer;
}

.selected-btn {
  background: #28a752;
  color: white;
  border: none;
  width: 50px;
  font-size: 30px;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.order-btn{
    position: fixed;
    right: 1%;
    bottom: 200px;
    font-size: 26px;
    border: none;
    padding: 5px;
    background-color: #ff5722;
    border-radius:10%;
}
.order-btn a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.p-2, .select-btn{
  padding: .5rem;
}

.selected-number{
    width: 70px;
    font-size: 30px;
}
.food-name{
  margin-top: 2px;
}