<!-- <div class="container">
  <h3> {{ selectedFood.category.name}}</h3>

  <div class="" *ngFor="let food of selectedFood?.items">
      <div class="surya" [style.background-image]="'url(' + food.image + ')'">
        <h2>{{ food.name }}</h2>
        <h4>{{ food.price }}</h4>
        <button>select</button>
        <button>{{  getCategoryName(food.categoryId) }}</button>
      </div>
  </div>

  
</div> -->



<div class="container">
  <h2 class="title">{{ selectedFood.category.name }}</h2>
   
    <div class="card-container row">
    <div class="food-card col-lg-3 col-md-3 col-sm-6 mb-4" *ngFor="let food of selectedFood?.items">
      
      <img class="food-img " [src]="food.image" alt="{{ food.name }}">

      <div class="card-body">
        <h5 class="food-name">{{ food.name }}</h5>
        <p class="price">₹ {{ food.price }}</p>

        <div class="btn-group">

          <ng-container *ngIf="food?.count > 0; else selectItem">
            <button class="selected-btn" (click)="removeFromCart(food)" >-</button>
            <div class="selected-number">{{ food.count }}</div>
            <button class="selected-btn" (click)="addToCart(food)" >+</button>
          </ng-container>

          <ng-template #selectItem>
            <button class="select-btn" (click)="addToCart(food)" >Select</button>
          </ng-template>

        </div>
      </div>

    </div>
 
   </div>
  
</div>

<button class="order-btn" *ngIf="showOrderNow">
  <a routerLink="/order-now">Order Now</a>
</button>


