  <header class="header">

  <div class="header-left">
    <img src="https://marketplace.canva.com/EAFpeiTrl4c/2/0/1600w/canva-abstract-chef-cooking-restaurant-free-logo-a1RYzvS1EFo.jpg"
         class="logo" alt="Logo">
    <span class="app-name">Food Application</span>
  </div>


  <nav class="header-center">
    <!-- <a routerLink="/">Home</a>  -->
    <a routerLink="/categories">Home</a>
    <a routerLink="/all-items">All Items</a>
  </nav>

 
  <div class="header-right">
    <a routerLink="order-now">Cart</a>
  <a routerLink="/profile">Profile</a>
  </div>

</header>