<footer class="footer">
  <div class="container">
    
    <div class="row">
      
      
      <div class="col">
        <p>Delicious food delivered to your doorstep. Fresh & Fast!</p>
      </div>

      <div class="main">

      <div class="col">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/menu">Menu</a></li>
          <li><a routerLink="/offers">Offers</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col">
        <h4>Categories</h4>
        <ul>
          <li><a routerLink="/category/pizza">Pizza</a></li>
          <li><a routerLink="/category/burger">Burger</a></li>
          <li><a routerLink="/category/dessert">Desserts</a></li>
        </ul>
      </div>

      <div class="col">
        <h4>Contact</h4>
        <ul>
        <li>📍 New York, USA</li>
        <li>📞 +1 234 567 890</li>
        <li>📧 support@foodiehub.com</li>
        </ul>
      </div>
      </div>

    </div>

  </div>
</footer>